/**/.dmNewParagraph[data-version]{line-height:initial}.dmNewParagraph[data-version] .text-align-left{text-align:left!important}.dmNewParagraph[data-version] .text-align-center{text-align:center!important}
.dmNewParagraph[data-version] .text-align-right{text-align:right!important}.dmNewParagraph[data-version] .text-align-justify{text-align:justify!important}.dmNewParagraph[data-version] .ql-indent-1{padding:0 1em;padding-inline-end:0;padding-inline-start:3em}
.dmNewParagraph[data-version] .ql-indent-2{padding:0 2em;padding-inline-end:0;padding-inline-start:6em}.dmNewParagraph[data-version] .ql-indent-3{padding:0 3em;padding-inline-end:0;padding-inline-start:9em}
.dmNewParagraph[data-version] .ql-indent-4{padding:0 4em;padding-inline-end:0;padding-inline-start:12em}.dmNewParagraph[data-version] .ql-indent-5{padding:0 5em;padding-inline-end:0;padding-inline-start:15em}
.dmNewParagraph[data-version] .ql-indent-6{padding:0 6em;padding-inline-end:0;padding-inline-start:18em}.dmNewParagraph[data-version] .ql-indent-7{padding:0 7em;padding-inline-end:0;padding-inline-start:21em}
.dmNewParagraph[data-version] .ql-indent-8{padding:0 8em;padding-inline-end:0;padding-inline-start:24em}.dmNewParagraph[data-version] .ql-indent-9{padding:0 9em;padding-inline-end:0;padding-inline-start:27em}
.dmNewParagraph[data-version] h1,.dmNewParagraph[data-version] h2,.dmNewParagraph[data-version] h3,.dmNewParagraph[data-version] h4,.dmNewParagraph[data-version] h5,.dmNewParagraph[data-version] h6,.dmNewParagraph[data-version] ol,.dmNewParagraph[data-version] p,.dmNewParagraph[data-version] ul{margin-top:0;margin-bottom:0}
.dmNewParagraph[data-version] ol,.dmNewParagraph[data-version] ul{padding:0;counter-reset:list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9}.dmNewParagraph[data-version] ol>li,.dmNewParagraph[data-version] ul>li{list-style-type:none;text-indent:-1.5em;margin:0 1em;margin-inline-end:0;margin-inline-start:2em}
.dmNewParagraph[data-version] ol>li:before,.dmNewParagraph[data-version] ul>li:before{min-width:1em;display:inline-block;margin-right:.5em;margin-inline-start:0;margin-inline-end:.5em;text-align:right;text-align:end}
.dmNewParagraph[data-version] ul .ql-indent-1{counter-reset:list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;counter-increment:list-1}.dmNewParagraph[data-version] ul .ql-indent-1:before{font-weight:700;content:'\25CB'}
.dmNewParagraph[data-version] ul .ql-indent-2{counter-reset:list-3 list-4 list-5 list-6 list-7 list-8 list-9;counter-increment:list-2}.dmNewParagraph[data-version] ul .ql-indent-2:before,.dmNewParagraph[data-version] ul .ql-indent-3:before,.dmNewParagraph[data-version] ul .ql-indent-4:before,.dmNewParagraph[data-version] ul .ql-indent-5:before,.dmNewParagraph[data-version] ul .ql-indent-6:before,.dmNewParagraph[data-version] ul .ql-indent-7:before,.dmNewParagraph[data-version] ul .ql-indent-8:before,.dmNewParagraph[data-version] ul .ql-indent-9:before{font-weight:700;content:'\25A0'}
.dmNewParagraph[data-version] ul .ql-indent-3{counter-reset:list-4 list-5 list-6 list-7 list-8 list-9;counter-increment:list-3}.dmNewParagraph[data-version] ul .ql-indent-4{counter-reset:list-5 list-6 list-7 list-8 list-9;counter-increment:list-4}
.dmNewParagraph[data-version] ul .ql-indent-5{counter-reset:list-6 list-7 list-8 list-9;counter-increment:list-5}.dmNewParagraph[data-version] ul .ql-indent-6{counter-reset:list-7 list-8 list-9;counter-increment:list-6}
.dmNewParagraph[data-version] ul .ql-indent-7{counter-reset:list-8 list-9;counter-increment:list-7}.dmNewParagraph[data-version] ul .ql-indent-8{counter-reset:list-9;counter-increment:list-8}.dmNewParagraph[data-version] ul .ql-indent-9{counter-reset:list-10 list-9;counter-increment:list-9}
.dmNewParagraph[data-version] ul>li:before{font-weight:700;content:'\2022';font-family:Arial}.dmNewParagraph[data-version] ul.custom-list-1>li:not([class^=ql-indent-]):not([class*=' ql-indent-']):before{content:"○";transform:scale(1);transform-origin:center right}
.dmNewParagraph[data-version] ul.custom-list-2>li:not([class^=ql-indent-]):not([class*=' ql-indent-']):before{content:"★";transform:scale(.7);transform-origin:center right}
.dmNewParagraph[data-version] ul.custom-list-3>li:not([class^=ql-indent-]):not([class*=' ql-indent-']):before{content:"➞";transform:scale(.8);transform-origin:center right}
.dmNewParagraph[data-version] ul.custom-list-4>li:not([class^=ql-indent-]):not([class*=' ql-indent-']):before{content:"＋";transform:scale(.7);transform-origin:center right}
.dmNewParagraph[data-version] ul.custom-list-5>li:not([class^=ql-indent-]):not([class*=' ql-indent-']):before{content:"－";transform:scale(.7);transform-origin:center right}
.dmNewParagraph[data-version] ul.custom-list-6>li:not([class^=ql-indent-]):not([class*=' ql-indent-']):before{content:"✓";transform:scale(.8);transform-origin:center right}
.dmNewParagraph[data-version] ul.custom-list-7>li:not([class^=ql-indent-]):not([class*=' ql-indent-']):before{content:"✗";transform:scale(.8);transform-origin:center right}
.dmNewParagraph[data-version] ol .ql-indent-1{counter-reset:list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;counter-increment:list-1}.dmNewParagraph[data-version] ol .ql-indent-1:before{content:counter(list-1,lower-alpha) ". "}
.dmNewParagraph[data-version] ol .ql-indent-2{counter-reset:list-3 list-4 list-5 list-6 list-7 list-8 list-9;counter-increment:list-2}.dmNewParagraph[data-version] ol .ql-indent-2:before{content:counter(list-2,lower-roman) ". "}
.dmNewParagraph[data-version] ol .ql-indent-3{counter-reset:list-4 list-5 list-6 list-7 list-8 list-9;counter-increment:list-3}.dmNewParagraph[data-version] ol .ql-indent-3:before{content:counter(list-3,decimal) ". "}
.dmNewParagraph[data-version] ol .ql-indent-4{counter-reset:list-5 list-6 list-7 list-8 list-9;counter-increment:list-4}.dmNewParagraph[data-version] ol .ql-indent-4:before{content:counter(list-4,lower-alpha) ". "}
.dmNewParagraph[data-version] ol .ql-indent-5{counter-reset:list-6 list-7 list-8 list-9;counter-increment:list-5}.dmNewParagraph[data-version] ol .ql-indent-5:before{content:counter(list-5,lower-roman) ". "}
.dmNewParagraph[data-version] ol .ql-indent-6{counter-reset:list-7 list-8 list-9;counter-increment:list-6}.dmNewParagraph[data-version] ol .ql-indent-6:before{content:counter(list-6,decimal) ". "}
.dmNewParagraph[data-version] ol .ql-indent-7{counter-reset:list-8 list-9;counter-increment:list-7}.dmNewParagraph[data-version] ol .ql-indent-7:before{content:counter(list-7,lower-alpha) ". "}
.dmNewParagraph[data-version] ol .ql-indent-8{counter-reset:list-9;counter-increment:list-8}.dmNewParagraph[data-version] ol .ql-indent-8:before{content:counter(list-8,lower-roman) ". "}
.dmNewParagraph[data-version] ol .ql-indent-9{counter-reset:list-10 list-9;counter-increment:list-9}.dmNewParagraph[data-version] ol .ql-indent-9:before{content:counter(list-9,decimal) ". "}
.dmNewParagraph[data-version] ol li{counter-reset:list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;counter-increment:list-0}.dmNewParagraph[data-version] ol li:before{content:counter(list-0,decimal) ". "}
.dmNewParagraph[data-version] a{vertical-align:initial}@media(min-width:768px) and (max-width:1024px){.dmNewParagraph[data-version] .t-text-align-left{text-align:left!important}.dmNewParagraph[data-version] .t-text-align-center{text-align:center!important}
.dmNewParagraph[data-version] .t-text-align-right{text-align:right!important}.dmNewParagraph[data-version] .t-text-align-justify{text-align:justify!important}}@media(max-width:767px){.dmRoot .dmNewParagraph[data-version] .m-text-align-left{text-align:left!important}
.dmRoot .dmNewParagraph[data-version] .m-text-align-center{text-align:center!important}.dmRoot .dmNewParagraph[data-version] .m-text-align-right{text-align:right!important}.dmRoot .dmNewParagraph[data-version] .m-text-align-justify{text-align:justify!important}
}.inlineBindingLink{color:inherit!important;text-decoration:inherit!important}/**/.imageWidget a,.imageWidget span.image-caption{font-style:italic;text-align:center}.imageWidget a[data-caption]::after,.imageWidget span[data-caption]::after{content:attr(data-caption);display:block;line-height:100%}
.imageWidget.with-caption a::after,.imageWidget.with-caption span.image-caption::after{margin-top:12px}.imageWidget img[width][height]{height:auto}[data-flex-site] #fcontainer .imageWidget:after,[data-flex-site] #flex-footer .imageWidget:after,[data-flex-site] #flex-header .imageWidget:after{content:none}
[data-flex-site] #fcontainer .imageWidget:before,[data-flex-site] #flex-footer .imageWidget:before,[data-flex-site] #flex-header .imageWidget:before{font-size:80px;transform:none}/**/@media(max-width:767px){body.dmRoot div[dmtemplateid]:not([dmtemplateid=SlideRightTopFloatM]) .dmHeader .multilingualWidget{position:absolute;top:14px;left:13px;margin-top:0}body.dmRoot div[dmtemplateid][dmtemplateid=SlideRightTopFloatM] .dmHeader .multilingualWidget{position:absolute;top:5px;right:17px}
}@media(min-width:768px) and (max-width:1024px){body:not(.responsiveTablet) #dm div[dmtemplateid=StandardLayoutMultiT] .dmHeader .multilingualWidget{position:absolute!important;top:5px!important;right:17px!important;left:initial!important}
}@media(max-width:767px){body.dmRoot .dmHeader .displayHidden-inner .multilingualWidget{top:0!important}}#dm_content div.dmRespCol div.multilingualWidget,#hcontainer div.dmRespCol div.multilingualWidget{width:auto!important;display:table!important}
.multilingualWidget{clear:both;margin:0;vertical-align:top;display:table!important;font-size:0;font-family:sans-serif}.multilingualWidget.displayNone{display:none!important}.multilingualWidget>div{position:relative}
.multilingualWidget .language{color:#888;display:inline-block}.multilingualWidget .language a{text-align:center;display:inline-block;color:inherit;border:#dadada 1px solid;background-color:#fff}.multilingualWidget .language a img{width:24px;height:26px;min-width:24px;min-height:26px}
.multilingualWidget .language a span{display:none;line-height:initial}.multilingualWidget .language a span.name{margin-top:5px;margin-left:7px;font-size:13px;font-weight:400;text-transform:capitalize}
.multilingualWidget .language a span.short-label{font-size:13px}.multilingualWidget .language a:after{line-height:initial}.multilingualWidget.open .current-language a:after{transform:rotate(-180deg)}.multilingualWidget .current-language a:after{transition:transform .2s}
.multilingualWidget.dropdown .language{width:100%}.multilingualWidget.dropdown .language a{display:block;padding:1px 5px}.multilingualWidget.dropdown .other-languages{position:absolute;z-index:800}.multilingualWidget.dropdown .other-languages a{border-top:0!important}
.multilingualWidget.dropdown .current-language{position:relative}.multilingualWidget.dropdown .current-language span.name{padding-right:25px}.multilingualWidget.dropdown .dm-icon{font-size:9px;display:inline-block;position:absolute;top:46%;transform:translateY(-50%);transition:transform .2s;right:8px}
.multilingualWidget.dropdown.open .dm-icon{transform:rotate(-180deg) translateY(50%)}.multilingualWidget.dropdown .other-languages,.multilingualWidget.dropdown.flag-only .dm-icon,.multilingualWidget.inline span,.multilingualWidget.no-flag a img{display:none}
.multilingualWidget.dropdown.flag-only a{border:transparent 1px solid;background-color:transparent}.multilingualWidget.dropdown.flag-only.open .language a{background-color:rgba(0,0,0,.3);border:#dadada 1px solid}
.multilingualWidget.dropdown.long-label a{text-align:left;padding:2px 0 2px 5px;position:relative;box-sizing:border-box}.multilingualWidget.dropdown.long-label a span.name,.multilingualWidget.inline.flag-only .language,.multilingualWidget.inline.short-label.no-flag span.short-label{display:inline-block}
.multilingualWidget.dropdown.long-label.no-flag a{padding:7px 10px 9px}.multilingualWidget.dropdown.long-label.no-flag a span.name,.multilingualWidget.dropdown.short-label.no-flag a span.short-label{margin:0;display:inline-block}
.multilingualWidget.dropdown.short-label.no-flag a{padding:8px 22px 9px 10px;font-size:13px;height:32px;box-sizing:border-box}.multilingualWidget.dropdown.short-label.no-flag .current-language a:after{top:12px}
.multilingualWidget.short-label span.short-label{text-transform:uppercase}.multilingualWidget.inline.flag-only a{padding:2px 5px;height:32px;box-sizing:border-box}.multilingualWidget.inline.flag-only .current-language a{box-shadow:inset 0 0 8px 0 rgba(0,0,0,.6);border-right:0;border-right-width:0!important;border-right-color:transparent!important;border-right-style:none!important}
.multilingualWidget.inline.flag-only .other-languages a:not(:last-child){border-right-width:0!important;border-right-color:transparent!important;border-right-style:none!important}.multilingualWidget.inline.flag-only .dm-icon,.multilingualWidget.inline.short-label.no-flag .dm-icon{display:none}
.multilingualWidget.inline.short-label.no-flag .current-language a{padding-right:0;border-right-width:0!important;border-right-color:transparent!important;border-right-style:none!important}.multilingualWidget.inline.short-label.no-flag .current-language a span.short-label{font-weight:700}
.multilingualWidget.inline.short-label.no-flag .other-languages a{border-left-color:transparent!important;border-left-width:0!important;border-left-style:none!important}.multilingualWidget.inline.short-label.no-flag .other-languages a:not(:last-child){padding-right:0;border-right-color:transparent!important;border-right-width:0!important;border-right-style:none!important}
.multilingualWidget.inline.short-label.no-flag a{position:relative;padding:8px 10px;font-size:13px;height:32px;text-decoration:none}.multilingualWidget.inline.short-label.no-flag a:after{content:'/';position:absolute;top:8px;right:-7px;z-index:1;pointer-events:none}
.multilingualWidget.inline.short-label.no-flag a:hover .short-label{text-decoration:underline}.multilingualWidget.inline.short-label.no-flag .other-languages a:last-child:after{content:''}/**/.flex-container a:active,.flex-container a:focus,.flexslider a:active,.flexslider a:focus{outline:0}.flex-control-nav,.flex-direction-nav,.slides{margin:0;padding:0;list-style:none}.flexslider,.flexslider .slides>li{height:100%;overflow:hidden;position:relative}
.flexslider{padding:0;-webkit-transform:translateZ(0);direction:ltr;margin:0;zoom:1;opacity:1!important}.flexslider .slides{height:100%;zoom:1}.flexslider .slides>li{display:none;text-align:center}.flexslider .slides>li a{display:block;width:100%;height:100%}
.flexslider .slides img{width:100%;display:block;margin:auto}.flexslider .slides>li a img{opacity:0}.flex-pauseplay span{text-transform:capitalize}.slides:after{content:'\0020';display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .slides{display:block}* html .slides{height:1%}.no-js .slides>li:first-child{display:block}.flex-viewport{height:100%;transition:all 1s ease}.carousel li{margin-right:5px}.flex-direction-nav{*height:0}
.flex-direction-nav a,.flex-pauseplay a{display:block;position:absolute;z-index:10;overflow:hidden;cursor:pointer}.flex-direction-nav a{text-decoration:none;margin:-15px 0 0;top:50%;color:rgba(255,255,255,.8)!important;text-shadow:1px 1px 0 rgba(0,0,0,.3);transition:all .3s ease;width:30px;height:30px;opacity:0}
.flex-direction-nav .flex-prev{left:-50px}.flex-direction-nav .flex-next{right:-50px;text-align:right}.flexslider.arrows-visible .flex-prev,.flexslider.hover .flex-prev,.flexslider:hover .flex-prev{opacity:.7;left:10px}
.flexslider.arrows-visible .flex-next,.flexslider.hover .flex-next,.flexslider:hover .flex-next{opacity:.7;right:10px}.flex-control-thumbs img:hover,.flex-pauseplay a:hover,.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover{opacity:1}
.flex-direction-nav .flex-disabled{filter:alpha(opacity=0);cursor:default}.flex-direction-nav a:before{font-family:'flexslider-icon';font-size:30px;line-height:30px;display:inline-block;content:'\f001'}
.flex-direction-nav a.flex-next:before{content:'\f002'}.nav-layout-2 .flex-direction-nav a:before{font-family:FontAwesome;content:'\f104'}.nav-layout-2 .flex-direction-nav a.flex-next:before{content:'\f105'}
.nav-layout-3 .flex-direction-nav a:before{font-family:FontAwesome;content:'\f100'}.nav-layout-3 .flex-direction-nav a.flex-next:before{content:'\f101'}
.flex-pauseplay a{width:20px;height:20px;bottom:5px;left:10px;opacity:.8;color:#000}.flex-pauseplay a:before{font-family:'flexslider-icon';font-size:20px;display:inline-block;content:'\f004'}
.flex-pauseplay a.flex-play:before{content:'\f003'}.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center}.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1;*display:inline}
.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,.5);cursor:pointer;text-indent:-9999px;border-radius:20px;-o-box-shadow:inset 0 0 3px rgba(0,0,0,.3);box-shadow:inset 0 0 3px rgba(0,0,0,.3)}
.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,.7)}.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,.9);cursor:default}.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden}
.flex-control-thumbs li{width:25%;float:left;margin:0}.flex-control-thumbs img{width:100%;display:block;opacity:.7;cursor:pointer}.flex-control-thumbs .flex-active{opacity:1;cursor:default}.flex-caption{background:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #4C000000,endColorstr = #4C000000);zoom:1;width:100%;padding-top:7px;position:absolute;background-color:#000;font-size:16px;line-height:20px;bottom:0;margin-bottom:0;color:#fff;padding-bottom:7px;opacity:.65}
@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px}.flex-direction-nav .flex-next{opacity:1;right:10px}}.flexslider .color-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.25);display:block}
.flexslider .slides>li .slide-inner{font-weight:700;color:#fff;position:absolute;z-index:1;visibility:hidden}.flexslider .slides>li .slide-inner *{line-height:normal}.flexslider .slides>li .slide-inner.animated{visibility:visible}
.flexslider .slides>li .slide-inner .slide-title{margin:0}.flexslider .slides>li .slide-inner .slide-text{margin:0;font-size:19px;font-weight:400}#dm .dmInner .flexslider .slides>li .slide-inner .slide-button{margin-top:20px;margin-left:auto;margin-right:auto}
.flexslider .slides [show-content=false] .color-overlay,.flexslider .slides [show-content=false] .slide-inner,.flexslider[hide-content=true] .slides .color-overlay,.flexslider[hide-content=true] .slides .slide-inner{visibility:hidden!important}
.flexslider a[href]+.color-overlay{cursor:pointer}.flexslider .slides>li[layout=center] .slide-inner{max-width:70%;max-height:80%}#dm .flexslider .slides .dmWidget .text{max-width:100%;width:100%;padding:10px 20px!important}
.flexslider:not([layout]):not([position]) .slides>li[layout=bottom][position=left] .slide-inner{text-align:left!important}.flexslider:not([layout]):not([position]) .slides>li[layout=bottom][position=center] .slide-inner{text-align:center!important}
.flexslider:not([layout]):not([position]) .slides>li[layout=bottom][position=right] .slide-inner{text-align:right!important}.flexslider:not([layout]):not([position]) .slides>li[layout^=bottom] .slide-inner{background-color:inherit}
.flexslider:not([layout]):not([position]) .slides>li[layout^=bottom] .slide-button,.flexslider:not([layout]):not([position]) .slides>li[layout^=bottom] .slide-title{display:none!important}.flexslider:not([layout]):not([position]) .slides>li[layout^=bottom] .color-overlay{visibility:hidden!important}
#dm .dmInner .flexslider.ed-version .slide-button{-js-display:inline-flex;display:inline-flex;justify-content:center;align-items:center}.flexslider:not([position]):not([layout]) .slides>li[layout=center][position=center] .slide-inner{right:auto!important;bottom:auto!important;text-align:center}
.flexslider:not([position]) .slides>li[layout=bottom]{position:relative;background-color:rgba(0,0,0,.5)}.flexslider:not([position]) .slides>li[layout=bottom] .slide-inner{width:100%;margin-left:0!important;margin-top:0!important;max-height:100%;padding:15px 30px;top:auto!important;bottom:0!important;left:0!important}
.flexslider:not([position]) .slides>li[layout=center][position=right] .slide-inner{right:10%!important;margin-left:0!important;left:auto!important;text-align:left}.flexslider:not([position]) .slides>li[layout=center][position=left] .slide-inner h3,.flexslider:not([position]) .slides>li[layout=center][position=right] .slide-inner h3{text-align:left}
.flexslider:not([position]) .slides>li[layout=center][position=left] .slide-inner{left:10%!important;margin-right:0!important;right:auto!important;text-align:left}.flexslider.ed-version .color-overlay,.flexslider.ed-version .text-wrapper{pointer-events:none}
.flexslider.ed-version .slides img{display:none}.flexslider.ed-version:not([layout]) .slides>li[layout=center],.flexslider.ed-version[layout=center] .slides>li{display:-ms-flexbox!important;-ms-flex-pack:center;-ms-flex-align:center;display:flex!important;justify-content:center;align-items:center}
.flexslider.ed-version:not([layout]) .slides>li[layout=center] .slide-inner,.flexslider.ed-version[layout=center] .slides>li .slide-inner{position:static!important;top:auto!important;left:auto!important;margin:0!important}
.flexslider.ed-version:not([layout]) .slides>li[layout=center] .slide-inner .slide-button.slide-button-visible,.flexslider.ed-version[layout=center] .slides>li .slide-inner .slide-button.slide-button-visible{display:inline-flex!important}
.flexslider.ed-version:not([layout]) .slides>li[layout=center] .slide-inner .slide-button.slide-button-invisible,.flexslider.ed-version[layout=center] .slides>li .slide-inner .slide-button.slide-button-invisible{display:none!important}
.flexslider.ed-version:not([layout]) .slides>li[layout=center] a,.flexslider.ed-version[layout=center] .slides>li a{position:absolute;left:0;top:0}.flexslider.ed-version:not([layout]) .slide-inner,.flexslider.ed-version[layout=center] .slide-inner{max-width:70%;max-height:80%;background-color:transparent;top:50%!important;left:50%!important;right:auto!important;width:auto}
.flexslider.ed-version:not([layout]) .slide-inner .slide-title,.flexslider.ed-version[layout=center] .slide-inner .slide-title{display:block!important;text-align:center!important}.flexslider.ed-version:not([layout])[position=right] .slides>li,.flexslider.ed-version[layout=center][position=right] .slides>li{justify-content:flex-end}
.flexslider.ed-version:not([layout])[position=right] .slides>li .slide-inner,.flexslider.ed-version[layout=center][position=right] .slides>li .slide-inner{margin-right:10%!important}.flexslider.ed-version:not([layout])[position=right] .slides>li .slide-inner .slide-button,.flexslider.ed-version[layout=center][position=right] .slides>li .slide-inner .slide-button{float:right}
.flexslider.ed-version:not([layout])[position=right] .slides>li .slide-inner .slide-text,.flexslider.ed-version:not([layout])[position=right] .slides>li .slide-inner .slide-text p,.flexslider.ed-version:not([layout])[position=right] .slides>li .slide-inner .slide-title,.flexslider.ed-version:not([layout])[position=right] .slides>li .slide-inner .slide-title p,.flexslider.ed-version[layout=center][position=right] .slides>li .slide-inner .slide-text,.flexslider.ed-version[layout=center][position=right] .slides>li .slide-inner .slide-text p,.flexslider.ed-version[layout=center][position=right] .slides>li .slide-inner .slide-title,.flexslider.ed-version[layout=center][position=right] .slides>li .slide-inner .slide-title p{text-align:right!important}
.flexslider.ed-version:not([layout])[position=left] .slides>li,.flexslider.ed-version[layout=center][position=left] .slides>li{justify-content:flex-start}.flexslider.ed-version:not([layout])[position=left] .slides>li .slide-inner,.flexslider.ed-version[layout=center][position=left] .slides>li .slide-inner{margin-left:10%!important}
.flexslider.ed-version:not([layout])[position=left] .slides>li .slide-inner .slide-button,.flexslider.ed-version[layout=center][position=left] .slides>li .slide-inner .slide-button{float:left}.flexslider.ed-version:not([layout])[position=left] .slides>li .slide-inner .slide-text,.flexslider.ed-version:not([layout])[position=left] .slides>li .slide-inner .slide-text p,.flexslider.ed-version:not([layout])[position=left] .slides>li .slide-inner .slide-title,.flexslider.ed-version:not([layout])[position=left] .slides>li .slide-inner .slide-title p,.flexslider.ed-version[layout=center][position=left] .slides>li .slide-inner .slide-text,.flexslider.ed-version[layout=center][position=left] .slides>li .slide-inner .slide-text p,.flexslider.ed-version[layout=center][position=left] .slides>li .slide-inner .slide-title,.flexslider.ed-version[layout=center][position=left] .slides>li .slide-inner .slide-title p{text-align:left!important}
.flexslider.ed-version:not([layout])[position=center] .slides>li .slide-inner .slide-text,.flexslider.ed-version:not([layout])[position=center] .slides>li .slide-inner .slide-text p,.flexslider.ed-version:not([layout])[position=center] .slides>li .slide-inner .slide-title,.flexslider.ed-version:not([layout])[position=center] .slides>li .slide-inner .slide-title p,.flexslider.ed-version[layout=center][position=center] .slides>li .slide-inner .slide-text,.flexslider.ed-version[layout=center][position=center] .slides>li .slide-inner .slide-text p,.flexslider.ed-version[layout=center][position=center] .slides>li .slide-inner .slide-title,.flexslider.ed-version[layout=center][position=center] .slides>li .slide-inner .slide-title p{text-align:center!important}
.flexslider.ed-version[layout=bottom] .slides>li[show-caption=false] .slide-inner{visibility:hidden!important}.flexslider.ed-version .flex-direction-nav>li a,.flexslider.ed-version[layout=bottom] .slides>li{position:relative}
.flexslider.ed-version[layout=bottom] .slides>li .slide-inner{width:100%;max-width:100%;background-color:rgba(0,0,0,.5);margin-left:0!important;margin-top:0!important;max-height:100%;padding:15px 30px;top:auto!important;bottom:0!important;left:0!important}
.flexslider.ed-version[layout=bottom] .slides>li .slide-inner .slide-button,.flexslider.ed-version[layout=bottom] .slides>li .slide-inner .slide-title,.flexslider.ed-version[layout=empty] .slide-inner{display:none!important}
.flexslider.ed-version[layout=bottom][position=right] .slide-inner{text-align:right}.flexslider.ed-version[layout=bottom][position=left] .slide-inner{text-align:left}.flexslider.ed-version .flex-direction-nav>li{position:absolute;z-index:10000;top:50%;line-height:0;transform:translateY(-50%)}
.flexslider.ed-version .flex-direction-nav>li a:before{width:100%;text-align:center;position:relative;top:50%;line-height:40px;transform:translateY(-50%)}.flexslider.ed-version .flex-direction-nav>li:first-child{left:0}
.flexslider.ed-version .flex-direction-nav>li:not(:first-child){right:0}[data-buttonstyle=BIG_BASIC] .flexslider .slide-button .iconBg.hidden+.text,[data-buttonstyle=BIG_BASIC] .flexslider .slide-button.hidden .text,[data-buttonstyle=CONTRAST_ICON] .flexslider .slide-button .iconBg.hidden+.text,[data-buttonstyle=CONTRAST_ICON] .flexslider .slide-button.hidden .text,[data-buttonstyle=FLAT_ICON] .flexslider .slide-button .iconBg.hidden+.text,[data-buttonstyle=FLAT_ICON] .flexslider .slide-button.hidden .text,[data-buttonstyle=FLAT_ROUND_ICON] .flexslider .slide-button .iconBg.hidden+.text,[data-buttonstyle=FLAT_ROUND_ICON] .flexslider .slide-button.hidden .text,[data-buttonstyle=TWO_COLORS] .flexslider .slide-button .iconBg.hidden+.text,[data-buttonstyle=TWO_COLORS] .flexslider .slide-button.hidden .text{margin-left:-40px;box-sizing:content-box}